/*color variables start*/
$primary: #993300;
$bg-color: #FFFFCC;
$background: linear-gradient(to right, #993300, #FF8902);
/*$background: linear-gradient(to right, #6666ff, #ff2dbc, #a8eb12);*/
$dark: #000;
$gray: #000;
$light-gray: hsl(0, 0%, 45%);
/*color variables end*/